<h1>WIKILIST</h1>
<form name="searchForm">
    <input type="text" ng-model="searchString" ng-model-options="{debounce: 1000}" required>
    <button type="button" class="btn btn-primary" ng-disabled="searchForm.$invalid" ng-click="load(); ">Search</button>
</form>

<br/>
<br/>
<br/>


<ul class="listPage" ng-repeat="wiki in wikis">
    <li>
        <a href="#wiki/{{wiki.title}}"
           ng-mouseover="enter = true; showListElement()"
           ng-mouseleave="enter = false; hideListElement()"> {{wiki.title}} </a>

        <p ng-show="show && enter">{{wiki.abstract}}</p>
    </li>
</ul>

