<ul>
    <li><h2>Title: <a href="{{wiki.url}}">{{wiki.title}}</a></h2></li><!--make link to real wiki-->

    <li><h2>Abstract: </h2></li>
    <p>{{wiki.abstract}}</p>

    <li><h2>Categories: </h2></li>

        <ol ng-repeat="category in wiki.categories">
            <li>{{category}}</li><!--make link to categories-->
        </ol>

    <li><h2>Links: </h2></li>

        <ul ng-repeat="link in wiki.links" class="list-group">
            <li><a href="{{link}}">{{link}}</a></li>
        </ul>

    <li><h2>Table of Content:</h2></li>

        <ol class="list" ng-repeat="heading in wiki.headings | orderBy : 'position'">
            <li><strong>{{heading.position}}.</strong> {{heading.heading}}</li>
        </ol>

</ul>